.productDisconuted {
    background-color: #ff0000;
    margin: 20px;
    position: relative;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productDisconuted .h2 {
    color: white;
    padding-left: 30px;
}

.productDisconuted .all-discounted-products {
    padding-top: 30px;
    padding-bottom: 15px;
}

.productDisconuted .all-discounted-products .btn-show-all-discounted-products {
    background: #fff;
    border: 0;
    font-size: 14px;
    box-shadow: none;
    font-weight: 500;
    border-radius: 4px;
    display: inline-block;
    line-height: 16px;
    margin: 15px auto 0;
    padding: 12px 15px;
    text-align: center;
    text-transform: none;
    color: #333;
    min-width: 320px;
}

.productDisconuted .all-discounted-products .btn-show-all-discounted-products:hover {
    background-color: #f9bb01;
    color: #fff;
}

.nav-buttons {
    display: flex;
    gap: 8px;
    padding-right: 20px;
}

.nav-buttons button {
    background: #f1f1f1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.2s;
}

.nav-buttons button:hover {
    background: #f9bb01;
}

.product-discounted-container {
    display: flex;
    gap: 16px;
    padding-left: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}

.product-card-discounted {
    max-width: 250px;
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    padding: 16px;
    text-align: center;
}

.product-card-discounted .price-sale {
    display: flex !important;
    padding-bottom: 15px;
}

.product-card-discounted .discount-percent {
    background: #ff0000;
    color: #fff;
    letter-spacing: 0.5px;
    padding: 2px 5px;
    min-width: 38px;
    text-align: center;
    align-self: center;
    -ms-align-self: center;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
}

.product-card-discounted .price-sale .price-box {
    flex: 1 1 auto;
    padding-right: 5px;
}

.product-card-discounted .price {
    text-decoration: line-through;
    margin-right: 95px;
    color: gray;
    opacity: 0.7;
    font-size: 13px;
    font-weight: 300;
}

.product-card-discounted .discounted-price {
    display: block;
    margin-right: 90px;
    color: red;
    font-size: 14px;
    font-weight: 600;
}

.product-card-discounted .btn-add-to-cart {
    background: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 150px;
    padding: 0px 0px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.product-card-discounted .btn-add-to-cart .cart-icon {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #fff;
    background-color: #263b96;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.product-card-discounted .btn-add-to-cart .cart-icon .cart-img {
    width: 16px;
    height: 31px;
    display: block;
    margin: auto;
    fill: #fff;
    transition: all 0.3s ease;
    transform: translateX(0);
}

.product-card-discounted .discount-img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 12px;
    cursor: pointer;
}

.product-card-discounted .btn-add-to-cart:hover {
    background-color: #263b96;
    color: #fff;
}

.product-card-discounted .btn-add-to-cart:hover .cart-icon .cart-img {
    transform: translateX(5px);
}